<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Spelos .NET</title>
    <link rel="stylesheet" href="public/css/site.css" />
    <link rel="icon" type="image/x-icon" href="/public/favicon.ico">
</head>

<body>
    <div class="workspace">
        <img src="/public/img/avatar.webp" class="avatar" width="200" height="200" alt="Spelos' profile picture" />
        <pre>
<span class="token-keyword">new</span> <span class="token-class">Programmer</span>()
{
    Name = <span class="token-literal">"Peter"</span>,
    FavoriteLanguage = <span class="token-enum">Language</span>.CSharp,
    Links = <span class="token-keyword">new</span> [] {
        <a href="/contact" target="_blank" class="token-signature"><img src="/public/img/logo-matrix.webp" alt="Matrix.org logo" class="emoji" />Matrix DMs</a>,
        <a href="/chat" target="_blank" class="token-signature"><img src="/public/img/logo-matrix.webp" alt="Matrix.org logo" class="emoji" />Community group chat</a>,
        <a href="/github" target="_blank" class="token-signature"><img src="/public/img/logo-github.webp" alt="Github.com logo" class="emoji" />GitHub</a>,
        <a href="/videos" target="_blank" class="token-signature"><img src="/public/img/logo-odysee.webp" alt="Odysee.com logo" class="emoji" />Odysee</a>,
        <a href="/live" target="_blank" class="token-signature"><img src="/public/img/logo-glimesh.webp" alt="Glimesh.tv logo" class="emoji" />Glimesh.tv</a>
    }
};
    </pre>
    </div>


</body>

</html>